:root {
    --font-size-sm: clamp(0.8rem, 0.42vw + 0.69rem, 1.03rem);
    --font-size-base: clamp(1rem, 0.68vw + 0.83rem, 1.38rem);
    --font-size-md: clamp(1.25rem, 1.06vw + 0.99rem, 1.83rem);
    --font-size-lg: clamp(1.56rem, 1.6vw + 1.16rem, 2.44rem);

    --blue-israel-flag-color: #005EB8;
    --primary: var(--blue-israel-flag-color);

    --spacer: clamp(1rem, 1.06vw + 0.99rem, 2rem);
}


/**/

footer select {
    max-width: 100%;
    padding: 0.5rem;
    color: var(--primary);
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 0.25rem;
}

/**/

#select:not(:empty) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 2rem);
    max-width: 80ch;
    border: 1rem solid;
    box-shadow: 0px 10px 30px -10px rgba(0,0,0,.3);
    border-radius: 0.25rem;

}

#select select {
    width: 100%;
    padding: 1em;
    font-size: var(--font-size-sm);
    color: var(--primary);
    background-color: #fff;
    border: 1px solid var(--primary);
    cursor: pointer;
}

/**/

.maguen-david {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0.1;
}

/**/

.navigation {
    display: flex;
    flex-wrap: wrap;
    gap: 0.625rem;
    padding: 0;
    margin: 0;
    list-style: none;
}

.sub-navigation {
    display: none;
    justify-content: center;
    gap: 1rem;
    margin-block-end: var(--spacer);
    text-align: center;
}

.sub-navigation.active {
    display: flex;
}

.navigation a {
    display: block;
    padding: 0.3125rem 0.625rem;
    font-size: var(--font-size-sm);
}

.sub-navigation a {
    display: inline-flex;
    align-items: center;
    height: 2.5rem;
    padding: 0.3125rem 1rem;
}

a {
    color: inherit;
    text-decoration: none;
    border: 1px solid currentColor;
    border-radius: 0.25rem;
}

a:hover {
    color: var(--primary);
}

a.active {
    color: white;
    background: var(--primary);
    border-color: var(--primary);
}

/**/

.tehilim {
    background: rgba(255,255,255,0.5);
    padding: var(--spacer);
    border: 1px solid;
    border-radius: 0.25rem;
}

.tehilim-block {
    display: none;
}

.tehilim-block.active {
    display: block;
}

#tehilimBlock > div {
    font-size: var(--font-size-md);
}

#tehilimBlock > div span {
    font-size: var(--font-size-sm);
}

#traductionBlock br {
    display: block;
    margin-block: 0.2em;
}

h2 {
    margin-block-start: 0;
    font-size: var(--font-size-md);
    text-align: center;
}

p:last-child {
    margin-block-end: 0;
}